@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --section-title-size: 10rem;
  --section-icons-size: 35rem;
  --nav-icons-size: 6rem;
  --nav-text-size: 2rem;
  --menu-height-size: 6rem;
  --menu-width-size: 4rem;
}

@media (max-width: 918px) {
  :root {
    --section-title-size: 8rem;
    --section-icons-size: 28rem;
  }
}

@media (max-width: 768px) {
  :root {
    --menu-height-size: 4rem;
    --menu-width-size: 2.68rem;
  }
}

@media (max-width: 600px) {
  :root {
    --section-title-size: 5rem;
    --section-icons-size: 17.5rem;
    --nav-icons-size: calc(6rem - 40%);
    --nav-text-size: calc(2rem - 40%);
  }
}

/* Default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  /* now 1rem = 10px */
  font-size: 62.5%;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 5rem 2rem;
}
/*=================Styles for the Header========== */
header {
  background-color: black;
  width: 100%;
  height: 0rem;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  transition: 0.4s;
}

.nav-bar {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  visibility: hidden;
}

.nav-link {
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.5s;
  opacity: 0;
}

.nav-link:hover {
  color: white;
}

.nav-link i {
  font-size: var(--nav-icons-size);
}

.nav-link span {
  font-size: var(--nav-text-size);
  font-weight: 900;
  letter-spacing: 3px;
}

.menu {
  width: var(--menu-width-size);
  height: var(--menu-height-size);
  background-color: black;
  position: fixed;
  top: 1rem;
  left: 5rem;
  transform: translateX(-50%);
  border-radius: 30rem 30rem 15rem 15rem;
  cursor: pointer;
  transition: top 0.4s 0.4s;
}

.menu::before {
  content: "";
  width: 3px;
  height: 15rem;
  background-color: black;
  position: absolute;
  top: -15rem;
  left: calc((var(--menu-width-size) / 2));
}

/* Add functionality for retractable elements */
.menu.active {
  top: 15rem;
  transition: top 1s;
}

header.active {
  transition-delay: 0.4s;
  height: 14rem;
}

header.active .nav-bar {
  transition-delay: 0.5s;
  visibility: visible;
}

.active .nav-link {
  opacity: 1;
}

.active .nav-link:nth-child(1) {
  transition: opacity 0.4s 0.4s;
}

.active .nav-link:nth-child(2) {
  transition: opacity 0.4s 0.5s;
}

.active .nav-link:nth-child(3) {
  transition: opacity 0.4s 0.6s;
}

.active .nav-link:nth-child(4) {
  transition: opacity 0.4s 0.7s;
}

.active .nav-link:nth-child(5) {
  transition: opacity 0.4s 0.8s;
}
/*-------------------------------------------------*/
h1.section-heading {
  font-size: var(--section-title-size);
  font-weight: 900;
  color: white;
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  text-shadow: 3px 3px 3px black;
  text-align: center;
}

.section-1 {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-1-icons i {
  font-size: var(--section-icons-size);
  color: #a79a2d;
  position: absolute;
  text-shadow: 2px 2px 2px black;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}

.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}

.section-2 {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  flex-wrap: wrap;
}

.card {
  background-color: #a79a2d;
  width: 30rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1rem 1rem 1rem black;
  transition: 0.4s;
  transform: rotateY(20deg) skewX(-2deg);
  position: relative;
}

.card:hover {
  transform: rotateY(20deg) skewX(-2deg) translateY(-2rem);
  box-shadow: 1rem 2rem 2rem black;
}

/* Add 3d effects to card */
.card::before,
.card::after {
  content: "";
  background-color: #817824;
  position: absolute;
  box-shadow: -1px -1px 2px black;
}
.card::before {
  height: 100%;
  width: 1rem;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
}

.card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background-color: #817824;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: skewX(45deg);
  transform-origin: bottom;
}

.card .card-img {
  width: 100%;
}

.card .card-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem black;
}

.card button {
  border: none;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  margin: 2rem 0;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
}

/* Section 3 */

.section-3 {
  background-color: #333333;
}

.Gallery-container {
  margin: auto;
  margin-top: 5rem;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 8rem;
}

.gallery-link {
  display: block;
  height: 100%;
  position: relative;
}

.gallery-link::before,
.gallery-link::after {
  content: "";
  position: absolute;
  background-color: white;
  transition: 0.5s ease;
  z-index: 1;
}

/* Verticle line */
.gallery-link::before {
  height: 0;
  width: 0.3rem;
  right: 20%;
  top: 3rem;
}
/* Horizontal line */
.gallery-link::after {
  height: 0.3rem;
  width: 0;
  top: 25%;
  left: 3rem;
}
/* Add hover effects for the lines */

.gallery-link:hover::before {
  height: 80%;
}

.gallery-link:hover::after {
  width: 90%;
}

.gallery .food-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* prettier-ignore */
  box-shadow:
    0.3rem 0.3rem 0.1rem red,
    0.5rem 0.5rem 0.1rem lightcyan,
    0.7rem 0.7rem 0.1rem rebeccapurple,
    0.9rem 0.9rem 0.1rem steelblue;
  transition: all 0.5s;
}

/* Add hover effects on the img */
.gallery:hover .food-img {
  /* prettier-ignore */
  box-shadow:
  0.6rem 0.6rem 0.1rem red,
  1rem 1rem 0.1rem lightcyan,
  1.4rem 1.7em 0.1rem rebeccapurple,
  1.8rem 1.8rem 0.1rem steelblue;
  filter: blur(0.5rem);
  opacity: 0.5;
  transform: scale(1.02);
}

.gallery:hover .food-img {
  filter: blur(0.5rem);
  opacity: 0.5;
}

.gallery .food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gallery .food-description {
  position: absolute;
  top: 9rem;
  left: 3rem;
  width: 70%;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 1px;
}

/* By default the food descriptions should be hidden */
.gallery .food-name {
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.gallery .food-description {
  opacity: 0;
  visibility: hidden;
}

/* when we hover, they should be visible */

.gallery:hover .food-name {
  width: 100%;
  overflow: none;
  transition: width 1.5s 0.5s;
}

.gallery:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}

footer {
  background-color: #222222;
  padding: 2rem 0;
}

.sign-up-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sign-up-container h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #a79a2d;
}
.sign-up-container small {
  font-size: 1.2rem;
  color: #7c7c7c;
}

form {
  position: relative;
  width: 30%;
  max-width: 600px;
}

.sign-up-form {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
}

.sign-up-form::placeholder {
  color: #a79a2d;
}

footer button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5rem;
  background-color: #333333;
  color: #a79a2d;
  border: none;
  cursor: pointer;
}

footer a {
  color: white;
  font-size: 1.4rem;
  border-top: solid 1px #7c7c7c;
  margin-top: 2rem;
  padding: 2rem;
  display: block;
  text-align: center;
  align-self: center;
}
